<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <script src="main.js"></script>
    <style>
        .home{
            text-underline-position: below;
            background-color:rgb(10, 50, 10);
            color:#eeeeee;
            text-decoration:underline;
        }

        body{
            margin:0px;
            padding: 0px;
        }
    </style>
</head>
<body>

    {% extends 'na_laalii_app/base.html' %}
    {% block content %}
    <section class="container-fluid">
      <div class="container-fluid row ">
        <div class="container my-4  col-lg-6 col-md-12 " style="position:relative;">
          <h3 class="container">Google map API feature</h3>
          <p>we are currently working on improving our site. One of which is achieved by embedding google map on it so that we could make the location more detailed and easy to access.</p>
          <div style="position:absolute;top:0;right:1%;background-color:red;color:white;padding:1%;border-radius:0%;">coming soon</div>
        </div>
        <img class="col-lg-6 col-md-12" src="/static/img/user.png" style="height:15em;"/>


      </div>

        <h3 class="container my-3">Top</h3>
        <hr class="container hr" >
        <ul class="listul row" style="margin:5px;">
            {% for htop in htop %}
                <a href="/home/detail/?id={{htop.id}}" class=" col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <li class ="listli card" style="width:100%; height: 100%">
                    <img src="{{htop.frontal_picture.url}}" class="card-img-bottom" style="width:100%; height: 70%">
                    <div class="card-body">
                        <div class="card-title">
                            <article>{{htop.description}}</article> <article style='' >price: {{htop.cost}}</article>
                        </div>

                    </div>

                    </li>
                </a>


            {%endfor%}
        </ul>

        <h3 class="container my-3 ">New</h3>
        <hr class="container hr">
        <ul class="listul row" style="margin:5px;">
            {%for hnew in hnew %}
                <a href="/home/detail/?id={{hnew.id}}" class=" col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <li class ="listli card" style="width:100%; height: 100%">
                    <img src="{{hnew.frontal_picture.url}}" class="card-img-top" style="width:100%; height: 70%">
                    <div class="card-body">
                        <div class="card-title">
                            <article>{{hnew.description}}</article><article style=''>price: {{hnew.cost}}</article>
                        </div>
                    </div>
                    </li>
                </a>



            {%endfor%}
        </ul>
        <h3 class="container my-3 ">Categories</h3>
        <hr class="container hr">
        <div class="container-fluid">
            <div class="row paddig">
                <div  class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-6 my-1 ">
	                <a href="/categories/rooms/"  >
	                    <button class="btn btn-outline-secondary">
	                        <h3>No. Of Rooms</h3>
	                        <p>how many rooms do you prefer?</p>
	                    </button>
	                </a>
                </div>
            <div  class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-6 my-1 ">
	            <a href="/categories/where/">
	                <button class="btn btn-outline-secondary">
	                    <h3>Location</h3>
	                    <p>where do you want your place to be?</p>
	                </button>
            	</a>
            </div>

            <div  class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-6 my-1 ">
	        	<a href="/categories/sales/">
	                <button class="btn btn-outline-secondary">
	                    <h3>Sales</h3>
	                    <p>we have houses for sale,need one?</p>
	                </button>
            	</a>
            </div>
            <div  class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-6 my-1 " >
            	<a href="/categories/offices/">
	                <button class="btn btn-outline-secondary">
	                    <h3>Office</h3>
	                    <p>if you need rooms for official purpose...</p>
	                </button>
            	</a>
            </div>
            </div>
        </div>
		<div class="container-fluid row jumbotron">
			<div class="container my-4  col-lg-6 col-md-12 " style="position:relative;">
				<h3 class="container">Google map API feature</h3>
				<p>we are currently working on improving our site. One of which is achieved by embedding google map on it so that we could make the location more detailed and easy to access.</p>
				<div style="position:absolute;top:0;right:1%;background-color:red;color:white;padding:1%;border-radius:0%;">coming soon</div>
			</div>
			<iframe class="col-lg-6 col-md-12" src="http://127.0.0.1:8000/home/" style="height:15em;">

			</iframe>
		</div>

    </section>

    {% endblock %}

</body>
</html>
