<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>top</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <script src="main.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <style>
        
        .top{
            text-underline-position: below;
            background-color:rgb(10, 50, 10);
            color:#eeeeee;
            text-decoration:underline;
        }

        body{
            margin:0px;
            padding:0px;
        }
        [class*="col-"]{
            padding:0rem;
        }
    </style>
</head>
<body>

    {% extends 'na_laalii_app/base.html' %}
    {% block content %}
    <section>
        <h3 class="container my-3 ">Top</h3>
        <hr class="container hr"> 
        <ul class="listul row" style="margin:5px;">
            {%for top in top %}
                <a href="/top/detail/?id={{top.id}}" class="my-1 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <li class="card " style="width:100%; height: 100%">
                    <img src="{{top.frontal_picture.url}}" style="width:100%; height: 70%" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <article>{{top.description}}</article> <article style=''>price: {{top.cost}}</article>
                        </div>
                        
                    </div>

                    </li>                
                </a>

                
            {%endfor%}
        </ul>
        
    </section>
    {% endblock %}
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>
